<!DOCTYPE html>
<html xmlns:v-on="http://www.w3.org/1999/xhtml">
<head>
    <title>gKI Bot Container</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/assets/application.css" />
    <script src="/assets/moment-with-locales.js"></script>
    <script src="/assets/TextEncoderLite.js"></script>
    <script src="/base64js.min.js"></script>
</head>
<body class="uk-invisible">

<nav class="uk-navbar-container" uk-navbar>
    <div class="uk-navbar-left">
        <ul class="uk-navbar-nav">
            <li class="uk-active"><a href="#">gKI</a></li>
            <li><a href="#">Chat</a></li>
            <li><a href="#">Bots</a></li>
        </ul>
    </div>
    <div class="uk-navbar-right">
        <ul class="uk-navbar-nav">
            <li><a href="" uk-icon="icon: cog"></a></li>
        </ul>
    </div>
</nav>

<div class="uk-grid-small" uk-grid>
    <div class="uk-width-1-4">
        <div class="uk-card uk-card-default uk-card-small uk-card-body">
            <form id="sideMenu" class="uk-grid-small" uk-grid>
                <div class="uk-width-1-1">
                    <strong>gKI Bot Container</strong>
                </div>

                <div class="uk-width-1-2">
                    <span uk-icon="icon: user"></span>
                    Your Name
                </div>
                <div class="uk-width-1-2">
                    <input class="uk-input uk-form-small" type="text" placeholder="Your Name" required
                           v-model="userName"/>
                </div>

                <div class="uk-width-1-1">
                    <hr class="uk-divider-icon"/>
                </div>
                <div class="uk-width-1-1">
                    <button id="createNewBotButton" class="uk-button uk-button-primary uk-button-small"
                            @click="createNewBot" uk-toggle="target: #newBotModal">
                        Create New Bot
                    </button>
                </div>
            </form>
            <hr class="uk-divider-icon"/>

            <div class="uk-card uk-card-small uk-card-default" id="chatServersList">
                <div>
                     ChatServer List ({{ count }})
                </div>
                <div uk-drop="offset: 5">
                    <div class="uk-card uk-card-small uk-card-default">
                        <div class="uk-inline">
                            <a href="#" uk-icon="icon: plus-circle" @click="newChatServer"></a>
                            <div uk-drop>
                                <div class="uk-card uk-card-body uk-card-default">
                                    <h3 class="uk-card-title">ChatServer</h3>
                                    <div class="uk-margin-small">
                                        <input class="uk-input" type="text" v-model="newName" placeholder="ChatServer Name" required/>
                                    </div>
                                    <div class="uk-margin-small">
                                        <input class="uk-input" type="text" v-model="newUrl" placeholder="ChatServer URL" required/>
                                    </div>
                                    <div class="uk-margin-small">
                                        <button id="newChatServer" class="uk-button uk-button-primary uk-button-small"
                                                @click="newChatServer">
                                            Add
                                        </button>
                                    </div>
                                </div>
                            </div>
                            <a href="#" uk-icon="icon: triangle-left" @click="left" v-show="pageLeft"></a>
                            <a href="#" uk-icon="icon: triangle-right" @click="right" v-show="pageRight"></a>
                        </div>
                        <table class="uk-table uk-table-small uk-table-striped uk-margin-remove-top">
                            <thead>
                            <tr>
                                <th class="uk-table-shrink">Name</th>
                                <th>Url</th>
                                <th class="uk-table-shrink"></th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr v-for="chatServer in chatServers">
                                <td v-if="chatServer.enabled" @click="toggle(chatServer.id)">
                                    <u><strong>{{ chatServer.name }}</strong></u>
                                </td>
                                <td v-else @click="toggle(chatServer.id)">
                                    <i>{{ chatServer.name }}</i>
                                </td>
                                <td v-if="chatServer.enabled" @click="toggle(chatServer.id)">
                                    <u><strong>{{ chatServer.url }}</strong></u>
                                </td>
                                <td v-else @click="toggle(chatServer.id)">
                                    <i>{{ chatServer.url }}</i>
                                </td>
                                <td>
                                    <a href="#" uk-icon="icon: close" @click="deleteChatServer(chatServer.id)"></a>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <hr class="uk-divider-icon"/>

            <ul id="botsList" class="uk-nav-default uk-nav-parent-icon" uk-nav>
                <li class="uk-parent uk-active uk-open">
                    <a href="#">
                        Bots List ({{ count }}) &nbsp;
                        <button class="uk-button uk-button-small" @click="left">
                            <span uk-icon="icon: triangle-left" v-show="pageLeft"></span>
                        </button>
                        <button class="uk-button uk-button-small" @click="right">
                            <span uk-icon="icon: triangle-right" v-show="pageRight"></span>
                        </button>
                    </a>
                    <ul class="uk-nav-sub">
                        <li v-for="bot in bots">
                            <a v-if="bot.enabled" @click="edit(bot.id)" class="uk-margin-remove" href="#">
                                <u><strong>{{ bot.name }} (Rev.{{ bot.revision }})</strong></u>
                            </a>
                            <a v-else @click="edit(bot.id)" class="uk-margin-remove" href="#">
                                <i>{{ bot.name }} (Rev.{{ bot.revision }})</i>
                            </a>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
    <div class="uk-width-3-4">
        <div id="botEditor" class="uk-grid-small" uk-grid>
            <div class="uk-width-1-3">
                <span uk-icon="icon: happy"></span>
                Bot Name: {{ bot.name }}
            </div>
            <div class="uk-width-2-3">
                <span uk-icon="icon: hashtag"></span>
                Revision: {{ bot.revision }}
            </div>
            <div class="uk-width-1-3">
                <span uk-icon="icon: user"></span>
                Created by: {{ bot.createdBy }}
            </div>
            <div class="uk-width-2-3">
                <span uk-icon="icon: calendar"></span>
                Created Date: {{ formatedCreatedDate }}
            </div>
            <div class="uk-width-1-3">
                <span uk-icon="icon: user"></span>
                Updated by: {{ bot.revisedBy }}
            </div>
            <div class="uk-width-2-3">
                <span uk-icon="icon: calendar"></span>
                Updated Date: {{ formatedUpdatedDate }}
            </div>

            <div class="uk-width-1-3">
                <span uk-icon="icon: check"></span>
                Enabled: {{ bot.enabled }}
            </div>
            <div class="uk-width-2-3">
                <span uk-icon="icon: sign-in"></span>
                Accept All: {{ bot.acceptAll }}
            </div>

            <div class="uk-width-1-3">
                <button class="uk-button uk-button-primary uk-button-small" @click="toggleE">Toggle 'Enabled'</button>
            </div>
            <div class="uk-width-1-3">
                <button class="uk-button uk-button-primary uk-button-small" @click="toggleAA">Toggle 'Accept All'</button>
            </div>
            <div class="uk-width-1-3">
                <button class="uk-button uk-button-warning" @click="deleteBot">Delete</button>
            </div>

            <div class="uk-width-1-1">
                <span uk-icon="icon: pencil"></span>
                Script <br/>
                <div class="uk-panel uk-height-large" id="editor"></div>
            </div>

            <div class="uk-width-3-5">
                <form>
                    <span uk-icon="icon: file-edit"></span>
                    <input class="uk-input uk-width-5-6" type="text" placeholder="Test Message"
                           v-model="testMessage"/>
                </form>
            </div>
            <div class="uk-width-1-5">
                <button class="uk-button uk-button-secondary" @click="test">Test</button>
            </div>
            <div class="uk-width-1-5">
                <button class="uk-button uk-button-primary" @click="save">Save</button>
            </div>

            <div class="uk-width-5-6">
                <span uk-icon="icon: sign-out"></span>
                Test Result<br/>
                <form>
                    <div class="uk-textarea" id="testResult">
                    </div>
                </form>
            </div>
            <div class="uk-width-1-6">
            </div>
            <div class="uk-width-1-1">
                <hr class="uk-divider-icon"/>
            </div>
        </div>
    </div>
</div>

<div id="newBotModal" uk-modal>
    <div class="uk-modal-dialog uk-modal-body">
        <div class="uk-modal-header">
            <strong>New Bot</strong>
        </div>

        <form class="uk-padding-small" uk-grid>
            <div class="uk-width-1-4">
                Bot Name
            </div>
            <div class="uk-width-3-4">
                <input class="uk-input" type="text" placeholder="New Bot Name" id="newBotName"
                       v-model="name" required>
            </div>

            <div class="uk-width-1-4">
                Quote from
            </div>
            <div class="uk-width-3-4">
                <select class="uk-select" id="fromBotName" v-model="from">
                    <option v-for="bot in botsList">
                        {{ bot.name }}
                    </option>
                </select>
            </div>

            <div class="uk-width-3-4">
                <i>{{ message }}</i>
            </div>
            <div class="uk-width-1-4">
                <button id="saveNewBotButton" class="uk-button uk-button-primary"
                        @click="createNewBot">Create</button>
            </div>
        </form>

        <div class="uk-modal-footer uk-text-right">
            <button class="uk-button uk-button-default uk-modal-close" @click="close">Close</button>
        </div>
    </div>
</div>

<script src="/ace.js"></script>
<script src="/ext-language_tools.js"></script>
<script src="/assets/application.js"></script>
</body>
</html>
