<!DOCTYPE html>
<html xmlns:v-on="http://www.w3.org/1999/xhtml">
<head>
    <title>gKI Bot Container</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/assets/application.css" />
</head>
<body class="uk-invisible">

<nav class="uk-navbar-container" uk-navbar>
    <div class="uk-navbar-left">
        <ul class="uk-navbar-nav">
            <li class="uk-active"><a href="#">gKI</a></li>
            <li><a href="#">Chat</a></li>
            <li><a href="#">Bots</a></li>
        </ul>
    </div>
    <div class="uk-navbar-right">
        <ul class="uk-navbar-nav">
            <li><a href="" uk-icon="icon: cog"></a></li>
        </ul>
    </div>
</nav>

<div class="uk-grid-small" uk-grid>
    <div class="uk-width-1-4">
        <div class="uk-card uk-card-default uk-card-small uk-card-body">
            <form class="uk-grid-small" uk-grid>
                <div class="uk-width-1-1">
                    <strong>gKI Bot Container</strong>
                </div>

                <div class="uk-width-1-2">
                    <span uk-icon="icon: user"></span>
                    Your Name
                </div>
                <div class="uk-width-1-2">
                    <input class="uk-input uk-form-small" type="text" placeholder="Your Name" id="userName" required>
                </div>

                <div class="uk-width-1-1">
                    <hr class="uk-divider-icon">
                </div>
                <div class="uk-width-1-1">
                    <button id="createNewBotButton" class="uk-button uk-button-primary uk-button-small" uk-toggle="target: #newBotModal">
                        Create New Bot
                    </button>
                </div>
            </form>
            <hr class="uk-divider-icon">

            <ul id="botsList" class="uk-nav-default uk-nav-parent-icon" uk-nav>
                <li class="uk-parent uk-active uk-open">
                    <a href="#">
                        Bots List &nbsp;
                        <button class="uk-button uk-button-small" v-on:click="left">
                            <span uk-icon="icon: triangle-left" v-show="botsList.page.number > 0"></span>
                        </button>
                        <button class="uk-button uk-button-small" v-on:click="right">
                            <span uk-icon="icon: triangle-right" v-show="botsList.page.number+1 < botsList.page.totalPages"></span>
                        </button>
                    </a>
                    <!-- div class="uk-panel uk-panel-scrollable uk-resize-vertical" -->
                        <ul class="uk-nav-sub">
                            <li v-for="bot in botsList._embedded.bots">
                                {{ bot.name }}
                            </li>
                        </ul>
                    <!-- /div -->
                </li>
            </ul>
        </div>
    </div>
    <div class="uk-width-3-4">
        <div class="uk-panel uk-panel-scrollable uk-resize-vertical" id="editor"></div>
        <button class="uk-button uk-button-default">Cancel</button>
        <button class="uk-button uk-button-primary">Save</button>
    </div>
</div>

<div id="newBotModal" uk-modal>
    <div class="uk-modal-dialog uk-modal-body">
        <div class="uk-modal-header">
            <strong>New Bot</strong>
        </div>

        <div class="uk-padding-small" uk-grid>
            <div class="uk-width-1-4">
                Bot Name
            </div>
            <div class="uk-width-3-4">
                <input class="uk-input" type="text" placeholder="New Bot Name" id="newBotName" v-model="name" required>
            </div>

            <div class="uk-width-1-4">
                Quote from
            </div>
            <div class="uk-width-3-4">
                <select class="uk-select" id="fromBotName" v-model="from">
                    <option v-for="bot in botsList">
                        {{ bot.name }}
                    </option>
                </select>
            </div>

            <div class="uk-width-3-4">
                <i>{{ message }}</i>
            </div>
            <div class="uk-width-1-4">
                <button id="saveNewBotButton" class="uk-button uk-button-primary" v-on:click="createNewBot">Create</button>
            </div>
        </div>

        <div class="uk-modal-footer uk-text-right">
            <button class="uk-button uk-button-default uk-modal-close" v-on:click="close">Close</button>
        </div>
    </div>
</div>

<script src="/assets/application.js"></script>
<script src="/ace.js"></script>
</body>
</html>
