/*
* This is a manifest file that'll be compiled into application.css, which will include all the files
* listed below.
*
* Any CSS file within this directory can be referenced here using a relative path.
*
* You're free to add application-wide styles to this file and they'll appear at the top of the
* compiled file, but it's generally better to create a new file per style scope.
*
*= require uikit
*= require bootstrap
*= require bootstrap-datetimepicker.css
*= require grails
*= require main
*= require mobile
*= require_self
*/

.label-relative {
    position: relative;
}

.label.top-right {
    position: absolute;
    right: 0px;
    top: 0px;
}

.quote-message {
    color: #998877;
}

.collapse-hidden {
    display: none;
}

.area-timeline {
    overflow: scroll;
    overflow-x:hidden;
}

.footer {
    background: 0;
    padding: 0;
}

[class*='uk-divider'] {
  margin-bottom: 0px;
  margin-top: 0px;
}

.uk-accordion > :nth-child(n+2) {
  margin-top: 10px;
}

.uk-accordion-content {
  margin-top: 5px;
}

.uk-close {
  color: inherit;
  line-height: inherit;
}

.uk-close:hover,
.uk-close:focus {
  color: inherit;
  outline: inherit;
}
